.background-type-bug {
  background-color: #8bd674 !important;
}

.background-type-dark {
  background-color: #6f6e78 !important;
}

.background-type-dragon {
  background-color: #7383b9 !important;
}

.background-type-electric {
  background-color: #f2cb55 !important;
}

.background-type-fairy {
  background-color: #eba8c3 !important;
}

.background-type-fighting {
  background-color: #eb4971 !important;
}

.background-type-fire {
  background-color: #ffa756 !important;
}

.background-type-flying {
  background-color: #83a2e3 !important;
}

.background-type-ghost {
  background-color: #8571be !important;
}

.background-type-grass {
  background-color: #8bbe8a !important;
}

.background-type-ground {
  background-color: #f78551 !important;
}

.background-type-ice {
  background-color: #91d8df !important;
}

.background-type-normal {
  background-color: #b5b9c4 !important;
}

.background-type-poison {
  background-color: #9f6e97 !important;
}

.background-type-psychic {
  background-color: #ff6568 !important;
}

.background-type-rock {
  background-color: #d4c294 !important;
}

.background-type-steel {
  background-color: #4c91b2 !important;
}

.background-type-water {
  background-color: #58abf6 !important;
}
